$color-text-primary: #292D32;
$color-text-secondary: #B5B7C0;
$color-black: #000000;
$color-line: #EEE;
$color-text-active: #28a745;
$color-bg-active: #16C098;
$color-border-active: #008767;
$color-text-inactive: #DF0404;
$color-bg-inactive: #FFC5C5;
$color-border-inactive: #DF0404;