@import './styles/common/reset';
@import './styles/common/_breakpoints.scss';
@import './styles/common/fonts';
@import './styles/common/vars';



.App {
  // box-sizing: border-box;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.wrapperApp {
  display: flex;
  justify-content: space-between;
  background-color: $color-bg-lightBlue;
}

.wrapperPage {
  width: 100%;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
