@import "./styles/common/reset";
@import "./styles/common/_breakpoints.scss";
@import "./styles/common/fonts";
@import "./styles/common/vars";

.App {
  margin: 0 auto;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.wrapperApp {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  // background-color: $color-bg-lightBlue;
  background-color: #b8d4f3;
}

.wrapperPage {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.container {
  padding-left: 71px;
  padding-right: 95px;
}

.headerContainer {
  padding-top: 41px;
  padding-bottom: 51px;
}

.headerContent {
  font-size: 24px;
  font-weight: 400;
  color: $color-black;
}

